.store--wrapper {
  height: 340px;
}

.store--hero--wrapper{
  background-color: #2e90e5;
  height: 100%;
}

.padding--right--7{
  padding-right: 6rem;
}

.shop--now--border {
  border-bottom: 3px solid white;
  
}

.hero--iphone--8 {
  border-radius: 4px;
  background-image: url('../../assets/images/iPhone6s_discover_desktop_08_iOS9-1.png');
  background-size: cover;
  background-position: center;
}
