.bestseller--nav__active {
  color: #33a0ff;
  border-bottom: 2px #33a0ff solid;
}

.bestseller--header {
  font-size: 2rem;
}

.bestseller--box__name {
  font-size: 0.6rem;
}

.star--color {
  color: #ffc600;
  font-size: 0.8rem;
}

.star--grey {
  color: #c1c8ce;
  font-size: 0.8rem;
}

.bestseller--price__grey {
  color: #c1c8ce;
  text-decoration-line: line-through;
}

.bestseller--nav {
  font-size: 1rem;
}

.bestseller--box--line {
  height: 0.1rem;
  background-color: rgb(198, 191, 191);
  margin: 2rem 0 0.9rem 0;
}

.bestseller--more {
  font-size: 0.8rem;
  color: #33a0ff;
  border-bottom: 3px solid #33a0ff;
}
