.hero--wrapper
 {
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
 }

 .hero--more {
   border-bottom: 3px solid white;
   width: 23%;
   font-size: 1.3rem;
   padding-bottom: 0.6rem;
 }
