.footerTop--bouncer {
  font-size: 2rem;
}


.footer--header {
  font-weight: 500;
  font-size: 1.2rem;
}

.footer--line-height {
  line-height: 1.3rem;
}

.horizontal--line {
  height: 0.05rem;
  background-color: grey;
}
